table{
	border-collapse: collapse;
	margin-top: 30px;
}

.primary {
	background: #ddd;
}

.navbar-default{
	/*background: #428bca !important;*/
}

footer{
	margin-top: 50px;
}

.form-login{
	align-items: center;
}

.badge{
	padding: 7px !important;
}

.paid{
	background: #428bca;
}

.unpaid{
	background: #a94442;
}

.text-bold {
	font-weight: bold;
}

.bayar{
	height: 50px;
}

.dash-text{
	font-size: 44pt;
}

@media print{
	.no-print{
		display: none;
	}
}

.struk-title{
	font-size: 30pt;
}